html,
body {
  user-select: none;
  overflow: hidden;
  height: 100%;
  margin: 0;
  padding: 0;
}

:root {
  --softblackcolor: #333333;
  --divcolor: #3b393a;
  --primarycolor: #1e1e1e;
  --secondarycolor: #2c2c2e;
  --thirdcolor: #c0c3bc;
  --whitecolor: #f0f0f0;
  --successcolor: #34d399;
  --warningcolor: #fbbf24;
  --dangercolor: #ef4444;
  --todaycolor: #eab308;
  --errorcolor: #dc2626;
  --clickcolor: #3b82f6;

  --fontmain: "Inter", sans-serif;
  --fontalt: "Roboto", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--softblackcolor);
  color: var(--whitecolor);
  font-family: var(--fontmain);
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
}

h1,
h2 {
  font-size: 10;
}

#nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--primarycolor);
  z-index: 20;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 0;
}

#curHrText {
  margin-left: 100px;
}

#nav-bar input.search-bar {
  padding: 12px 15px;
  border-radius: 10px;
  border: 1px solid var(--secondarycolor);
  background-color: var(--whitecolor);
  color: var(--primarycolor);
  font-size: 1rem;
  width: 800px;
  margin-left: 150px;
}

#search-button {
  margin-left: 55px;
  margin-right: 150px;
}

.sidebar {
  position: fixed;
  top: 130px;
  border-radius: 0% 70% 70% 0%;
  left: 0;
  width: 120px;
  height: 83vh;
  background-color: var(--primarycolor);
  color: var(--whitecolor);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 20px;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.3);
  z-index: 300;
  transition: width 0.3s ease;
  opacity: 0;
}

.sidebar:hover {
  width: 350px;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
  width: 100%;
  overflow: hidden;
  border-radius: 0% 15% 15% 0%;
}

.sidebar ul li {
  width: 100%;
  padding: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  position: relative;
}

.sidebar ul li:hover {
  background-color: var(--secondarycolor);
}

.sidebar ul li::before {
  content: "";
  font-size: 1.8rem;
  display: block;
  text-align: center;
  transition: content 0.3s ease;
}

#dashboard-link::before {
  content: "🏠";
}

#overview-link::before {
  content: "📊";
}

#calendar-link::before {
  content: "📅";
}

.sidebar:hover #dashboard-link::before {
  content: "🏠 Home";
}

.sidebar:hover #overview-link::before {
  content: "📊 Overview";
}

.sidebar:hover #calendar-link::before {
  content: "📅 Calendar";
}

.welcome-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeIn 2s ease;
  height: 7000vh;
}

.welcome-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: var(--divcolor);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  padding: 40px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  animation: slideUp 1.2s ease;
}

button#start-button {
  margin-top: 20px;
}

button {
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  color: black;
  transition: background 0.3s ease;
  background: var(--secondarycolor);
  color: var(--whitecolor);
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

button:hover {
  background: var(--thirdcolor);
  color: var(--primarycolor);
}

.fade-out {
  opacity: 0;
  transition: opacity 1s ease;
  pointer-events: none;
}

.start-button-fade {
  background: linear-gradient(270deg, var(--todaycolor), var(--secondarycolor));
  background-size: 600% 100%;
  animation: moveGradient 1s ease forwards;
  color: black;
  pointer-events: none;
}

.todolist {
  width: 80vw;
  height: 80vh;
  opacity: 0;
  transition: opacity 1s ease, transform 1s ease;
  overflow: hidden;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
  background-color: var(--primarycolor);
  border-radius: 40px;
}

.todolist-dashboard-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  height: 100%;
  padding: 24px;
  box-sizing: border-box;
  overflow: hidden;
}
.left-panel {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 15px;
  background-color: var(--divcolor);
  border-radius: 20px;
  padding: 30px;
  overflow: hidden;
}

#new-todo-popup {
  display: none;
  position: fixed;
  top: 30%;
  flex-direction: column;
  align-items: center;
  z-index: 40;
  background-color: var(--divcolor);
  border-radius: 20% 0;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  animation: slideUp 0.5s ease;
  transition: transform 0.3s ease;
  padding: 80px 40px;
  width: 20vw;
  height: 30vh;
  justify-content: center;
}

#category-select {
  margin-top: 30px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url("https://cdn-icons-png.flaticon.com/128/32/32195.png");
  background-repeat: no-repeat;
  background-position: 110px;
  background-size: 25px;
  padding: 15px 60px 15px 15px;
  border: 2px solid var(--thirdcolor);
  transition: all 0.5s ease;
  border-radius: 10px;
}

#category-select:hover {
  border: 2px solid var(--successcolor);
  border-radius: 0px 20px;
}

.right-panel {
  display: flex;
  flex-direction: column;
  gap: 15px;
  overflow: hidden;
}

.task-status {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 70px;
  background-color: var(--divcolor);
  padding: 30px;
  border-radius: 15px;
}

.task-status-circles {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 150px;
}

.categories {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex: 1;
  background-color: var(--divcolor);
  padding: 30px;
  border-radius: 15px;
  overflow-x: hidden;
  overflow-y: auto;
}
#categories-todo {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 16px;
  list-style: none;
}

#categories-todo li {
  width: auto;
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.3s ease;
  transform: scale(1);
}

#categories-todo li:hover {
  transform: scale(1.1);
}

#category-popup {
  display: none;
  position: fixed;
  top: 30%;
  flex-direction: column;
  align-items: center;
  z-index: 40;
  background-color: var(--divcolor);
  border-radius: 20% 0%;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  animation: slideUp 0.5s ease;
  transition: transform 0.3s ease;
  padding: 80px 40px;
  justify-content: center;
  gap: 30px;
  width: 20vw;
  height: 30vh;
}

#close-category-popup {
  top: 20px;
  right: 20px;
  cursor: pointer;
  transform: scale(1.5);
  transition: transform 0.2s ease, background-color 0.2s ease;
  width: 40px;
  height: 20px;
  background: var(--errorcolor);
  color: var(--whitecolor);
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  position: absolute;
}

#category-input {
  width: 100%;
  max-width: 350px;
  height: auto;
  field-sizing: content;
  padding: 12px 16px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 8px;
  outline: none;
  resize: none;
  transition: width 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
  background-color: var(--whitecolor);
  font-family: var(--fontmain);
}

#category-input:focus {
  border-color: var(--primarycolor);
  transform: scale(1.05);
}

#category-input::placeholder {
  color: #888;
  font-style: italic;
  transition: color 0.3s ease;
}

#category-input:focus::placeholder {
  color: var(--secondarycolor);
}

ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 40px;
  max-height: 50vh;
  overflow-y: auto;
  overflow-x: hidden;
  border-radius: 15px;
}

ul::-webkit-scrollbar {
  width: 8px;
}

ul::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 4px;
}

.color-dot {
  border-radius: 50%;
  width: 10px;
  height: 10px;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 100px;
  height: 100%;
  padding: 10px 25px;
  background-color: var(--secondarycolor);
  color: var(--whitecolor);
  margin: 12px 0px;
  border-radius: 15px;
  transition: background 0.3s ease;
  font-size: 20px;
}

.todo-item:hover {
  background: rgba(255, 255, 255, 0.1);
  cursor: pointer;
}
#close-todo-popup {
  top: 20px;
  right: 20px;
  cursor: pointer;
  transform: scale(1.5);
  transition: transform 0.2s ease, background-color 0.2s ease;
  width: 40px;
  height: 20px;
  background: var(--errorcolor);
  color: var(--whitecolor);
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  position: absolute;
}

#close-todo-popup:hover {
  background-color: #c50f1f;
}

.close {
  cursor: pointer;
  transform: scale(1.5);
  transition: transform 0.2s ease;
}

.close:hover {
  color: var(--dangercolor);
  transform: scale(3);
}

.checkboxes:hover {
  cursor: pointer;
}

.todo-inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#letter-count {
  margin-bottom: 50px;
  margin-top: 10px;
}

.todo-actions {
  display: flex;
  gap: 25px;
}

.todolist.slide-in {
  opacity: 1;
  transform: translateY(5%) translateX(2%);
}

#todo-creation-error {
  color: var(--dangercolor);
  font-family: var(--fontalt);
  font-size: 1.2rem;
  margin-top: 10px;
  text-align: center;
}

#todo-due-date {
  font-size: 1.7rem;
  color: var(--primarycolor);
  font-family: var(--fontalt);
  font-weight: 600;
  border-radius: 10px;
}

#todo-input {
  width: 100%;
  max-width: 350px;
  height: auto;
  field-sizing: content;
  padding: 12px 16px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 8px;
  outline: none;
  resize: none;
  transition: width 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
  background-color: var(--whitecolor);
  font-family: var(--fontmain);
}

#todo-input:focus {
  border-color: var(--primarycolor);
  transform: scale(1.05);
}

#todo-input::placeholder {
  color: #888;
  font-style: italic;
  transition: color 0.3s ease;
}

#todo-input:focus::placeholder {
  color: var(--secondarycolor);
}

#overdue-message {
  position: fixed;
  top: 80vh;
  left: 50vw;
  transform: translateX(800%);
  background-color: var(--errorcolor);
  color: var(--whitecolor);
  padding: 20px;
  border-radius: 15px;
  font-size: 1.5rem;
  transition: transform 1s cubic-bezier(1, 0, 0, 1);
  z-index: 1000;
}

#overdue-message.show {
  transform: translateX(75%);
}

@keyframes moveGradient {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@media only screen and (max-width: 900px) {
  .todolist-dashboard-wrapper {
    display: flex;
    flex-direction: column;
  }
  .sidebar {
    width: 60px;
  }
  .todolist {
    margin-left: 50px;
  }
  #new-todo-popup {
    width: 40vw;
  }
  #category-popup {
    width: 40vw;
  }
  .welcome-card {
    transform: scale(0.88);
  }
  #nav-bar input.search-bar {
    display: none;
  }
}
